<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<a href="/members/sign_up">User Registration</a>
<a href="/members/sign_in">Log in</a>
<a href="/admin/sign_up">Admin Registration</a>
<a href="/admin">Admin Sign in</a>
